body {
  font-family: Roboto Slab, serif;
  margin: 0; 
}

form {
  margin: 0;
  text-align: center;
  width: 100%;
}

header {
  background-color: #E5F3F2;
}

h1 {
  color: #00A79D;
  margin: 0;
  padding: 2% 0 3% 0;
}

span {
  color: #6D6E71;
}

button {
  border: 0;
  outline: none;
}

section {
  margin: 0 auto;
  width: 55%;
}

h2 {
  color: #6d6e71;
}

p {
  color: #939598;
}

h4, h5 {
  color: #6d6e71;
  display: inline-block;
}

hr {
  color: #d1d3d4;
  font-weight: 200;
  opacity: .5;
  width: 100%;
}

.todo-title,
.body,
.filter {
  border: none;
  color: #939598;
  font-weight: 700;
  height: 21px;
  opacity: .6;
  width: 55%;
}

.body {
  margin-top: 1%;
}

.save-btn {
  background-color: #00A79D;
  color: white;
  margin: 2% 0 2% 0;
  padding: 1% 0;
  width: 55%;
}

.save-btn:hover,
.show-completed:hover {
  background-color: #045E55;
}

.filter {
  display: block;
  margin: 1% auto;
  margin-top: 0;
}

.delete-btn {
	background: url('images/delete.svg');
  float: right;
	height: 1.5rem;
	width: 1.5rem;
}

.delete-btn:hover {
  background-image: url('images/delete-hover.svg');
}

.upvote-btn {
  background-image: url('images/upvote.svg');
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.upvote-btn:hover {
	background-image: url('images/upvote-hover.svg');
}

.downvote-btn {
  background-image: url('images/downvote.svg');
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.downvote-btn:hover {
  background-image: url('images/downvote-hover.svg');
}

.task-completed {
  opacity: 0.3;
}

.completed-btn {
  background-color: #00A79D;
  color: white;
  float: right;
  height: 1.5rem;
  margin-right: 1rem;
}

.show-completed {
  background-color: #00A79D;
  color: white;
  margin: 1% 0 4% 0;
  padding: .5% 0;
  width: 35%;
}

@media only screen and (max-width:600px) {
  .body{
    padding-bottom: 8%;
  }
  .save-btn,
  .todo-title,
  .body,
  .filter {
  width: 75%;
}

section {

  width: 75%;
}
}
