
header {
  font-family: Roboto Slab, serif;
  background-color: #E5F3F2;
}

body {
  margin: 0; 
}

h1 {
  margin: 0% 0 0 0;
  padding: 2% 0 3% 0;
  color: #00A79D;
}

span {
  color: #6D6E71;
}

form {
  text-align: center;
  width: 100%;
  margin: 0;
}


button {
  border: 0;
  }

section {
  margin: 0 auto;
  width: 55%;
}

.body,
.idea-title,
.search {
  width: 55%;
  height: 21px;
  color: #939598;
  font-weight: 700;
  opacity: .6;
}

.idea-title {

}

.body {
  margin-top: 1%;
}

.save {
  background-color: #00A79D;
  padding: 1% 0;
  margin: 2% 0 3% 0;
  color: white;
  width: 56%;
}

.save:hover {
  background-color: #045E55;
}

.search {
  margin: 2% auto;
}

@media only screen and (max-width:600px) {
  .body{
    padding-bottom: 8%;
  }
}

ul {
  text-align: center;
}

h2 {
	color: #6d6e71;
}

p {
	color: #939598;
}

h4, h5 {
	color: #6d6e71;
	display: inline-block;
}

hr {
	color: #d1d3d4;
}

.delete-button {
	background: url('images/delete.svg');
	height: 1.5rem;
	width: 1.5rem;
	float: right;
}

.delete-button:hover {
	background-image: url('images/delete-hover.svg');
}

.upvote-button {
	background-image: url('images/upvote.svg');
	height: 1.5rem;
	width: 1.5rem;
  margin-right: 1rem;

}

.upvote-button:hover {
	background-image: url('images/upvote-hover.svg');

}

.downvote-button {
	background-image: url('images/downvote.svg');
	height: 1.5rem;
	width: 1.5rem;
  margin-right: 1rem;

}

.downvote-button:hover {
	background-image: url('images/downvote-hover.svg');
}