body {
  font-family: Roboto Slab, serif;
  margin: 0; 
}

form {
  margin: 0;
  text-align: center;
  width: 100%;
}

header {
  background-color: #E5F3F2;
}

h1 {
  color: #00A79D;
  margin: 0;
  padding: 2% 0 3% 0;
}

span {
  color: #6D6E71;
}

button {
  border: 0;
}

section {
  margin: 0 auto;
  width: 55%;
}

h2 {
  color: #6d6e71;
}

p {
  color: #939598;
}

h4, h5 {
  color: #6d6e71;
  display: inline-block;
}

hr {
  color: #d1d3d4;
  font-weight: 200;
  opacity: .5;
  width: 100%;
}

.idea-title,
.body,
.search {
  color: #939598;
  font-weight: 700;
  height: 21px;
  opacity: .6;
  width: 55%;
}

.body {
  margin-top: 1%;
}

.save {
  background-color: #00A79D;
  color: white;
  margin: 2% 0 3% 0;
  padding: 1% 0;
  width: 56%;
}

.save:hover {
  background-color: #045E55;
}

.search {
  margin: 2% auto;
}

.delete-button {
	background: url('images/delete.svg');
  float: right;
	height: 1.5rem;
	width: 1.5rem;
}

.delete-button:hover {
  background-image: url('images/delete-hover.svg');
}

.upvote-button {
  background-image: url('images/upvote.svg');
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.upvote-button:hover {
	background-image: url('images/upvote-hover.svg');
}

.downvote-button {
  background-image: url('images/downvote.svg');
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.downvote-button:hover {
  background-image: url('images/downvote-hover.svg');
}

@media only screen and (max-width:600px) {
  .body{
    padding-bottom: 8%;
  }
}
